{
    "rules": {
        "indent": [
            2
        ],
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-console": 1,
        // "no-param-reassign"": ["warn", { "props"": true }]
        "comma-dangle": ["error", {
            "arrays": "always-multiline",
            "imports": "always-multiline",
            "exports": "always-multiline",
            "functions": "never" //deviation from airbnb - 6.9.4 will not run
        }],

        // max-len set to 120 based on team poll
        "max-len": ["error", {
            "code": 300,
            "ignoreUrls": true,
            "ignoreComments": false,
            "ignoreRegExpLiterals": true,
            "ignoreStrings": true,
            "ignoreTemplateLiterals": true
        }],

        // Allow using functions before they are defined
        "no-use-before-define": ["error", {
            "functions": false,
            "classes": true,
        }]
    },
    "env": {
        "node": true,
        "browser": true,
        "mocha": true,
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
          "experimentalObjectRestSpread": true
        }
    },
    "extends": "eslint:recommended"
}
